<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portifólio</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" asp-controller="Home" asp-action="index">Vitor Hainosz Cardoso</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu<i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Jornada">Jornada</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Projetos">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger " asp-controller="Home" asp-action="Contato">Contatos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    @*<header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Olá, bem vindo ao meu Portifólio</div>
                    <div class="intro-heading text-uppercase">agora uma breve apresentação de quem é o Vitor<br /><br /></div>
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Vamos começar</a>
                </div>
            </div>
        </header>*@

    <!-- Services -->
    @*<section class="page-section" id="Skills">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Skills:</h2>
                        <h3 class="section-subheading text-muted">os mais gritantes</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">rápido aprendizado</h4>
                        <p class="text-muted">eu sempre busco enteder o porque de algo, porque tem de ser desse modo específico, usando este método eu consigo aprender as coisas muito mais rapidamente</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Educado</h4>
                        <p class="text-muted">Sou educado e gentil com todas as pessoas, para melhorar o dia de alguém só preciso disso</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">proativo</h4>
                        <p class="text-muted">tento me anteceder as coisas, se eu sei que algo vai acontecer penso em como vou agir quais serão os caminhos com melhores chances de sucesso</p>
                    </div>
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Busco sempre aprender</h4>
                        <p class="text-muted">Sei que o futuro é incerto e que o único modo de molda-lo é me preparando, e para isso nunca vou parar minha busca por conhecimento</p>
                    </div>
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Lógica</h4>
                        <p class="text-muted">Desde pequeno sempre treinei minha lógica, e hoje posso confiar nela</p>
                    </div>
                </div>
            </div>
        </section>*@

    <!-- Portfolio Grid -->
    @*<section class="bg-light page-section" id="Projetos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Projetos</h2>
                        <h3 class="section-subheading text-muted">Os principais são estes:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>

                            <img class="img-fluid" src="~/img/portfolio/imagemuniver.png" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Gerenciador de universidade</h4>
                            <p class="text-muted">Sistema</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="~/img/portfolio/imgcalc.png" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Calculadora VLSM</h4>
                            <p class="text-muted">Sistema</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <!-- About -->
    @*<section class="page-section" id="Jornada">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Jornada</h2>
                        <h3 class="section-subheading text-muted">O inicio dela:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid" src="~/img/about/enem2018.png" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>04 e 11 de Nov de 2018</h4>
                                        <h4 class="subheading">1° vez tentando a prova do Enem</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Fui realizar o Enem no intuito de conhecer como que era a realização da prova, sem qualquer compromisso. Porém os dois dias eu fiquei o máximo permitido, 5H sentadinho lendo e relendo todas as questões, tudo para sair com o gabarito no final, nesse momento eu nem tinha ideia do que estava por vir.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid" src="~/img/about/iconeEmail.png" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>18 de Jun 2019</h4>
                                        <h4 class="subheading">Recebi um Email do Ministério da educação</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Eu me recordo muito bem desse dia, fiquei exaltado, e não conseguia acreditar. Havia ganhado uma bolsa integral para cursar Engenharia de Software. Fiquei pasmo com tal email e só fui cair na ficha quando recebi as boas vindas pela Unibrasil.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid" src="~/img/about/unibrasil.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>6 de Ago de 2019</h4>
                                        <h4 class="subheading">1° dia frequentando a Unibrasil</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Comecei a frequentar a faculdade aos 18 anos, um dos meus sonhos sendo realizado tão cedo e ainda em uma area que eu gosto, em uma faculdade grande e com nome. Já cheguei aprendendo e fazendo amizades que me ajudaram muito durante os próximos meses. </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid" src="~/img/about/gft.png" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2 de Jan de 2020</h4>
                                        <h4 class="subheading">Starter na GFT</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">5 meses depois de iniciar a faculdade, eu me encontro dentro de uma empresa</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>
                                        Futuro
                                        <br>que vou me
                                        <br>aguarda
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>*@

    <!-- Team -->
    @*<section class="bg-light page-section" id="Contato">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Minhas redes sociais</h2>
                        <h3 class="section-subheading text-muted">casdas</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="~/img/team/eu.jpg" alt="">
                            <h4>Vitor Hainosz</h4>
                            <p class="text-muted"><br></p>
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGMBHhfHehrfAAAAW_ThGHQcQqIeK0yrdr2K_PF8NU5y0R2511v4el0-ldbBA4UIWcUyxzBeUJoMuAq4_OKgMvKFS-gQO7jYxZsHCQUrMt4FDCc4fHdk48-uumbLU6ixFpNc2k=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fvitor-hainosz-2b1091173%2F" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/?hl=pt-br" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://github.com/Skipperhc" target="_blank">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <li class="list-inline-item">
                            <img src="~/img/logos/email.png" style="width:50px; height:50px" />
                            <a href="#" style="color:rgb(128, 128, 128)">vitorhainosz2@gmail.com</a>
                        </li><br><br>

                        <li class="list-inline-item">
                            <img src="~/img/logos/whatszap.png" style="width:50px; height:50px" />
                            (41) 9 84941246
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <p class="large text-muted"></p>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- Footer -->
    @*<footer class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Your Website 2019</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>*@

    <!-- Portfolio Modals -->
    <!-- Modal 1 -->
    @*<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Gerenciador de Universidade</h2>
                                    <p class="item-intro text-muted">Projeto pela faculdade</p>
                                    <img class="img-fluid d-block mx-auto" src="~/img/portfolio/imagemunivergrande.png" alt="">
                                    <p>Projeto prático proposto pela faculdade. É um Sistema de gerenciamento de faculdade, podemos adicionar alunos, professores, funcionários, além do setor ao qual cada um pertence. O que eu achei mais interessante foi o modo como salvamos os dados do programa, usamos arquivo txt para isso, se ficou curioso de uma olhada: </p>
                                    <ul class="list-inline">
                                        <li>Trabalho em grupo:</li>
                                        <li><a href="https://github.com/JuliaLouback/Gerenciador_Universidades" target="_blank">Projeto no GitHub</a></li>
                                        <li></li>
                                        <li>Feito em setembro 2019</li>
                                        <li>Nota: 10</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <!-- Modal 2 -->
    @*<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Calculadora VLSM</h2>
                                    <p class="item-intro text-muted">Projeto pela faculdade</p>
                                    <img class="img-fluid d-block mx-auto" src="~/img/portfolio/imgcalcgrande.png" alt="">
                                    <p>Este sistema foi desenvolvido para calcular o tamanho das redes, quantos hosts elas aguentam, definir qual será o ip de cada um desses hosts, encontrar o broadcast e o gateway de cada rede, encontrar a classe, máscara padrão e a máscara customizada para cara rede, dentre muitas outras funcionalidades. se ficou curioso fique a vontade para dar uma olhada:</p>
                                    <ul class="list-inline">
                                        <li><a href="https://github.com/Skipperhc/Calculadora-VLSM" target="_blank">Projeto no GitHub</a></li>
                                        <li>Feito em outubro 2019</li>
                                        <li>Nota 7,5</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    @RenderBody()

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/agency.min.js"></script>
</body>

</html>
