<header class="masthead">
    <div class="container">
        <div class="intro-text" style="color:rgb(255, 216, 0)">
            <div class="intro-lead-in"><br />Olá, bem vindo ao meu Portifólio</div>
            <div class="intro-heading text-uppercase">agora uma breve apresentação de quem é o Vitor<br /><br /></div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-controller="Home" asp-action="Jornada">Vamos começar</a>
        </div>
    </div>
</header>

