<section class="page-section" id="Jornada">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase"><br />Jornada</h2>
                <h3 class="section-subheading text-muted">O inicio dela:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/img/about/enem2018.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="text-center">04 e 11 de Nov de 2018</h4>
                                <h4 class="subheading text-center">1° vez tentando a prova do Enem</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted text-right">Fui realizar o Enem no intuito de conhecer como que era a realização da prova, sem qualquer compromisso. Porém os dois dias eu fiquei o máximo permitido, 5H sentadinho lendo e relendo todas as questões, tudo para sair com o gabarito no final, nesse momento eu nem tinha ideia do que estava por vir.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/img/about/iconeEmail.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="text-center">18 de Jun 2019</h4>
                                <h4 class="subheading text-center">Recebi um Email do Ministério da educação</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted text-left">Eu me recordo muito bem desse dia, fiquei exaltado, e não conseguia acreditar. Havia ganhado uma bolsa integral para cursar Engenharia de Software. Fiquei pasmo com tal email e só fui cair na ficha quando recebi as boas vindas pela Unibrasil.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/img/about/unibrasil.jpg" alt="">
                        </div>
                        <div class="timeline-panel ">
                            <div class="timeline-heading">
                                <h4 class="text-center">6 de Ago de 2019</h4>
                                <h4 class="subheading text-center">1° dia frequentando a Unibrasil</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted text-right">Comecei a frequentar a faculdade aos 18 anos, um dos meus sonhos sendo realizado tão cedo e ainda em uma area que eu gosto, em uma faculdade grande e com nome. Já cheguei aprendendo e fazendo amizades que me ajudaram muito durante os próximos meses. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/img/about/gft.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="text-center">2 de Jan de 2020</h4>
                                <h4 class="subheading text-center">Starter na GFT</h4>
                            </div>
                            <div class="timeline-body text-left">
                                <p class="text-muted">5 meses depois de iniciar a faculdade, eu me encontro dentro de uma empresa que me garante crescimento, aprendizado, e muito contato com um mundo que eu iria levar anos para adquirir</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Futuro
                                <br>que vou me
                                <br>aguarda
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 " style="text-align:center">
        <ul class="list-inline">
            <li class="list-inline-item mr-5" style="margin-top:50px">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-controller="Home" asp-action="Skills">Skills</a>
            </li>
        </ul>
    </div>
</section>