<section class="page-section-by-me" id="Skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading page-section-by-me text-uppercase">Skills:</h2>
                <h3 class="section-subheading text-muted" style="padding-bottom:40px">os mais gritantes</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="~/img/logos/asd.png" style="width:100px; height:100px"/>
                </span>
                <h4 class="service-heading">rápido aprendizado</h4>
                <p class="text-muted">eu sempre busco enteder o porque de algo, porque tem de ser desse modo específico, usando este método eu consigo aprender as coisas muito mais rapidamente</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="~/img/logos/asd.png" style="width:100px; height:100px" />
                </span>
                <h4 class="service-heading">Educado</h4>
                <p class="text-muted">Sou educado e gentil com todas as pessoas, para melhorar o dia de alguém só preciso disso</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="~/img/logos/asd.png" style="width:100px; height:100px" />
                </span>
                <h4 class="service-heading">proativo</h4>
                <p class="text-muted">tento me anteceder as coisas, se eu sei que algo vai acontecer penso em como vou agir quais serão os caminhos com melhores chances de sucesso</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <img src="~/img/logos/asd.png" style="width:100px; height:100px" />
                </span>
                <h4 class="service-heading">Busco sempre aprender</h4>
                <p class="text-muted">Sei que o futuro é incerto e que o único modo de molda-lo é me preparando, e para isso nunca vou parar minha busca por conhecimento</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <img src="~/img/logos/asd.png" style="width:100px; height:100px" />
                </span>
                <h4 class="service-heading">Lógica</h4>
                <p class="text-muted">Desde pequeno sempre treinei minha lógica, e hoje posso confiar nela</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 " style="text-align:center">
        <ul class="list-inline">
            <li class="list-inline-item mr-5" style="margin-top:50px">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-controller="Home" asp-action="Jornada">Jornada</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-controller="Home" asp-action="Projetos">Projetos</a>
            </li>
        </ul>
    </div>
</section>

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Gerenciador de Universidade</h2>
                            <p class="item-intro text-muted">Projeto pela faculdade</p>
                            <img class="img-fluid d-block mx-auto" src="~/img/portfolio/imagemunivergrande.png" alt="">
                            <p>Projeto prático proposto pela faculdade. É um Sistema de gerenciamento de faculdade, podemos adicionar alunos, professores, funcionários, além do setor ao qual cada um pertence. O que eu achei mais interessante foi o modo como salvamos os dados do programa, usamos arquivo txt para isso, se ficou curioso de uma olhada: </p>
                            <ul class="list-inline">
                                <li>Trabalho em grupo:</li>
                                <li><a href="https://github.com/JuliaLouback/Gerenciador_Universidades" target="_blank">Projeto no GitHub</a></li>
                                <li></li>
                                <li>Feito em setembro 2019</li>
                                <li>Nota: 10</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Calculadora VLSM</h2>
                            <p class="item-intro text-muted">Projeto pela faculdade</p>
                            <img class="img-fluid d-block mx-auto" src="~/img/portfolio/imgcalcgrande.png" alt="">
                            <p>Este sistema foi desenvolvido para calcular o tamanho das redes, quantos hosts elas aguentam, definir qual será o ip de cada um desses hosts, encontrar o broadcast e o gateway de cada rede, encontrar a classe, máscara padrão e a máscara customizada para cara rede, dentre muitas outras funcionalidades. se ficou curioso fique a vontade para dar uma olhada:</p>
                            <ul class="list-inline">
                                <li><a href="https://github.com/Skipperhc/Calculadora-VLSM" target="_blank">Projeto no GitHub</a></li>
                                <li>Feito em outubro 2019</li>
                                <li>Nota 7,5</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
